@using MatchBy.DTOs.Match

@if (Match is null)
{
    <div class="p-4 text-[var(--text)]">No data.</div>
    return;
}

<a href="@("/matches/" + Match.Id)"
   class="h-full flex flex-col md:flex-row bg-[var(--section)] border-2 border-[var(--main)] rounded-lg shadow-sm md:items-stretch
          transform transition duration-200 ease-out
          hover:-translate-y-1 hover:shadow-[0_0px_10px_-4px_var(--main)]
          focus-visible:-translate-y-1">

    <div class="md:basis-2/5 md:flex-none">
        <img class="object-cover w-full h-64 md:h-full rounded-t-lg md:rounded-none md:rounded-s-lg" src="@GetMatchImage()" alt="@Match!.Sport.ToString()" />
    </div>

    <div class="md:basis-3/5 flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-[var(--main)]">
            @Match!.Sport
        </h5>

        <p class="mb-2 font-normal text-[var(--text)] line-clamp-1">@Match!.Address</p>
        <p class="mb-2 font-normal text-[var(--text)]">
            @Match!.MatchDateTimeUtc.ToLocalTime().ToString("dd/MM/yyyy - HH:mm")
        </p>
        <p class="mb-3 font-normal text-[var(--text)]">@Match!.Description</p>
        <p class="text-sm text-[var(--main)]">
            Players: @Match!.Participants.Count / @Match!.MaxPlayers
        </p>
    </div>
</a>


@code {
    [Parameter] public MatchDto? Match { get; set; }

    private string GetMatchImage() =>
        Match?.Sport switch
        {
            Sports.Football => "/images/sports/football.jpg",
            Sports.Basketball => "/images/sports/basketball.jpg",
            Sports.Tennis => "/images/sports/tennis.jpg",
            Sports.Volleyball => "/images/sports/volleyball.jpg",
            Sports.Futsal => "/images/sports/futsal.jpg",
            Sports.Paddle => "/images/sports/paddle.jpg",
            _ => "/images/sports/default.jpg"
        };
}
