@page "/Error"
@page "/error-page/{StatusCode:int}"
@inherits MatchBy.Components.Layout.MainLayout;

<PageTitle>@_heading</PageTitle>

@if (Is404)
{
    <section class="flex flex-col justify-center bg-[var(--background)] h-full">
        <div class="container max-w-5xl px-6 py-12 mx-auto lg:flex lg:items-center gap-0">
            <div class="w-full lg:w-1/2">
                <p class="text-sm font-medium text-[var(--main)]">404 error</p>
                <h1 class="mt-3 text-2xl font-semibold text-[var(--text)] md:text-3xl">Page not found</h1>
                <p class="mt-4 text-gray-500">Sorry, the page you are looking for doesn't exist. Here are some helpful
                    links:</p>

                <div class="flex items-center mt-6 gap-x-3">
                    <a href="/"
                        class="w-1/2 px-5 py-2 text-sm tracking-wide text-[var(--text-contrast)] bg-[var(--main)] rounded-lg shrink-0 sm:w-auto hover:bg-[var(--main-hover)]">
                        Take me home
                    </a>
                </div>
            </div>

            <div class="relative w-full mt-12 lg:w-1/2 lg:mt-0">
                <img class="w-full max-w-lg lg:mx-auto" src="https://merakiui.com/images/components/illustration.svg"
                     alt="404 illustration">
            </div>
        </div>
    </section>
}
else if (Is500)
{
    <section class="flex flex-col justify-center bg-[var(--background)] h-full">
        <div class="container max-w-5xl px-6 py-12 mx-auto lg:flex lg:items-center gap-0">
            <div class="w-full lg:w-1/2">
                <p class="text-sm font-medium text-[var(--main)]">500 error</p>
                <h1 class="mt-3 text-2xl font-semibold text-[var(--text)] md:text-3xl">Internal Server Error</h1>
                <p class="mt-4 text-gray-500">Sorry, something went wrong on our side. Please try again later.</p>

                <div class="flex items-center mt-6 gap-x-3">
                    <a href="/"
                        class="w-1/2 px-5 py-2 text-sm tracking-wide text-[var(--text-contrast)] bg-[var(--main)] rounded-lg shrink-0 sm:w-auto hover:bg-[var(--main-hover)]">
                        Take me home
                    </a>
                </div>
            </div>

            <div class="relative w-full mt-12 lg:w-1/2 lg:mt-0">
                <img class="w-full max-w-lg lg:mx-auto" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/500/500.svg"
                     alt="500 illustration">
            </div>
        </div>
    </section>
}
else
{
    <section class="flex flex-col justify-center bg-[var(--background)] h-full">
        <div class="container max-w-5xl px-6 py-12 mx-auto lg:flex lg:items-center gap-0">
            <div class="w-full lg:w-1/2">
                <p class="text-sm font-medium text-[var(--main)]">Error @StatusCode</p>
                <h1 class="mt-3 text-2xl font-semibold text-[var(--text)] md:text-3xl">An error has occurred.</h1>
                <p class="mt-4 text-gray-500">Sorry, an error occurred with status code @StatusCode. Please try again
                    later.</p>

                <div class="flex items-center mt-6 gap-x-3">
                    <a href="/"
                        class="w-1/2 px-5 py-2 text-sm tracking-wide text-[var(--text-contrast)] bg-[var(--main)] rounded-lg shrink-0 sm:w-auto hover:bg-[var(--main-hover)]">
                        Take me home
                    </a>
                </div>
            </div>
        </div>
    </section>
}

@code {
    [Parameter] public int StatusCode { get; set; }
    [Parameter] public EventCallback OnTryAgain { get; set; }

    private bool Is404 => StatusCode == 404;
    private bool Is500 => StatusCode == 500;
    private string? _heading;

    protected override void OnInitialized()
    {
        if (Is404)
        {
            _heading = "Error 404 - Page Not Found";
        }
        else if (Is500)
        {
            _heading = "Error 500 - Internal Server Error";
        }
        else
        {
            _heading = $"Error {StatusCode}";
        }
    }
}
