@page "/About"

<PageTitle>About MatchBy</PageTitle>
<section class="bg-[var(--background)]">
    <section class ="border-b-0 border-[var(--main)]">
        <h1 class="text-center my-16 lg:text-6xl font-semibold text-[var(--main)] md:text-5xl text-4xl"><span class="text-[var(--text)]">About</span> MatchBy<span class="text-[var(--text)]">!</span></h1>
        <div class="grid max-w-screen-xl mx-auto lg:grid-cols-12 md:justify-center">
            <div class="place-self-center lg:col-span-7 md:mb-16">
                <h1 class="text-[var(--main)] max-w-2xl mb-4 text-4xl font-bold md:text-3xl xl:text-4xl text-center">What is our mission?</h1>
                <div class="max-w-2xl mb-6 font-light text-[var(--text)] text-justify lg:mb-8 md:text-lg lg:text-xl leading-relaxed px-24">
                    Meeting people nearby who share the same passion for sports isn't always easy...
                    MatchBy's mission is to bring players together, helping you find teammates, organize games,
                    and enjoy your favorite sports without the hassle. MatchBy is fast, simple, and built for everyone.
                </div>
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex items-center justify-center mr-auto">
                <img src="images/about/mission.avif" alt="football" class="max-w-full h-[500px] w-auto object-contain object-center" />
            </div>
        </div>

        <div class="grid max-w-screen-xl mx-auto lg:grid-cols-12 md:justify-center md:mb-16">
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex items-center justify-center ml-auto">
                <img src="images/about/plan.avif" alt="football" class="max-w-full h-[500px] w-auto object-contain object-center" />
            </div>
            <div class="place-self-center lg:col-span-7">
                <h1 class="text-[var(--main)] max-w-2xl mb-4 text-4xl font-bold md:text-3xl xl:text-4xl text-center">How to use MatchBy?</h1>
                <div class="max-w-2xl mb-6 font-light text-[var(--text)] text-justify lg:mb-8 md:text-lg lg:text-xl leading-relaxed px-24">
                    First create a profile, then specify your favorite sports and you can start searching for games or teammates nearby. 
                    You can also create your own matches that other users will be able to join by simply selecting a match location, time, sport, and number of players!
                    You must confirm the match before it happens to ensure it will really take place.
                    Our platform makes it easy to communicate with others and stay updated through chats and notifications.
                </div>
            </div>
        </div>
        <div class="grid max-w-screen-xl mx-auto md:justify-center lg:mt-16 mb-16 lg-col-span-12 px-32">
            <h1 class="text-[var(--main)] max-w-2xl mb-4 text-4xl font-bold mx-auto md:text-3xl xl:text-4xl text-center">Who are we?</h1>
            <div class="max-w-2xlfont-light text-[var(--text)] text-justify lg:mb-8 md:text-lg lg:text-xl leading-relaxed ">
                    We are Master's students in Software Engineering at the Faculty of Engineering of the University of Porto (FEUP).
                    MatchBy was developed as part of the Software Engineering Laboratory course, where we combined technical knowledge,
                    teamwork, and real-world practices to create a platform that connects sports enthusiasts. 
                    The idea was born from a simple frustration we all share: finding people to play sports with is harder than it should be, so we decided to solve the problem ourselves!
            </div>
        </div>
    </section>
</section>