@page "/Account/ForgotPassword"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Forgot your password?</PageTitle>

<section class="bg-[var(--background)] min-h-screen flex items-center">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto w-full lg:py-0">
        <div class="w-full bg-[var(--section)] rounded-lg shadow-lg md:mt-0 sm:max-w-md xl:p-0 ring-1 ring-[var(--main)]">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-[var(--text)] md:text-2xl mb-2">
                    Forgot your password?
                </h1>
                <p class="text-sm text-[var(--text)] mb-6">
                    Don't fret! Just type in your email and we will send
                    you a code to reset your password!
                </p>
                @if (Input is not null)
                {
                    
                    <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post" class="space-y-4 md:space-y-6">
                        <DataAnnotationsValidator/>
                        <div>
                            <label for="Input.Email"
                                   class="block mb-2 text-sm font-medium text-[var(--text)]">Email</label>
                            <InputText @bind-Value="Input.Email" id="Input.Email"
                                       class="block w-full p-2.5 rounded-lg
                                    bg-[var(--section-secondary)]
                                    text-[var(--text)]
                                    focus:border-[var(--main)]
                                    focus:ring-1 focus:ring-[var(--main)]
                                    focus:outline-none
                                    border-0"
                                       autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                            <ValidationMessage For="() => Input.Email" class="text-danger"/>
                        </div>
                        <button type="submit"
                                class="w-full text-[var(--text-contrast)] bg-[var(--main)] hover:bg-[var(--main-hover)] font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Reset password
                        </button>
                    </EditForm>
                }
            </div>
        </div>
    </div>
</section>


@code {
    [SupplyParameterFromForm] private InputModel? Input { get; set; }
     
    protected override void OnInitialized() => Input ??= new InputModel();

    private async Task OnValidSubmitAsync()
    {
        if (Input is null)
        {
            return;
        }
        
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null || !(await UserManager.IsEmailConfirmedAsync(user)))
        {
            // Don't reveal that the user does not exist or is not confirmed
            RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
            return;
        }

        // For more information on how to enable account confirmation and password reset please
        // visit https://go.microsoft.com/fwlink/?LinkID=532713
        var code = await UserManager.GeneratePasswordResetTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ResetPassword").AbsoluteUri,
            new Dictionary<string, object?> { ["code"] = code });

        await EmailSender.SendPasswordResetLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
    }

    private sealed class InputModel
    {
        [Required] [EmailAddress] public string Email { get; set; } = "";
    }

}
